### Lists 

### Indexing

We are going to take a look at lists in Python. A list is a sequecend collection of different objects such as integers, strings and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

To create a list, type the list within square brackets [], with your content inside the parenthesis and separated by commas.

In [4]:
# Create a list
L = ["Michael Jackson",10.1,1982]
L

['Michael Jackson', 10.1, 1982]

We can use negative and regular indexing with a list:

In [5]:
# Print the elements on each index
print("the same element using negative and positive indexing:\n Positive",L[0],"\n Negative:",L[-3])
print("the same element using negative and positive indexing:\n Positive:",L[1],"\n Negative:",L[-2])
print("the same element using nefative and poitive indexing: \n Positive:",L[2],"\n Negative:",L[-1])

the same element using negative and positive indexing:
 Positive Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Positive: 10.1
 Negative: 10.1
the same element using nefative and poitive indexing:
 Positive: 1982
 Negative: 1982

### List Content

Lists con contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [6]:
# Sample List
["Michael Jackson",10.1, 1982,"MJ",1]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

### List Operations

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [7]:
# Sample List
L=["Michael Jackson",10.1, 1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [8]:
# List Slicing
L[3:5]

['MJ', 1]

In [9]:
L[2:5]

[1982, 'MJ', 1]

We can use the method extend to add new elements to the list:

In [10]:
# Use extend to add elements to list
L=["Michael Jackson",10.2]
L.extend(["pop",10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is append. If we apply append instead of extend, we add one element to the list:

In [11]:
# Use append to add elements to list
L = ["Michael Jacskon",10.2]
L.append(["pop",10])
L

['Michael Jacskon', 10.2, ['pop', 10]]

Each time we apply a method, the list changes. If we apply extend we add two elements to the list. The list L is then modified by adding two elements:

In [12]:
# Use extend to add elements to list

L=["Michale Jacsokn",10.2]
L.extend(["pop",10])
L

['Michale Jacsokn', 10.2, 'pop', 10]

If we append the list ["a",b"] we have one new element consisting of a nested list:

In [13]:
# Use append to add eleents to list
L.append(["a","b"])
L

['Michale Jacsokn', 10.2, 'pop', 10, ['a', 'b']]

As lists are mutable, we can change them. For example, we can change the fisrt element as follows:

In [14]:
# Change the element based ont hte indez
A =["disco",10,10.2]
print("Before change:",A)
A[0]="hard rock"
print("After change:",A)

Before change: ['disco', 10, 10.2]
After change: ['hard rock', 10, 10.2]

We can also delete an element of a list using the del commadn:

In [15]:
# Delet the element based on the index
print("Before change:",A)
del(A[0])
print("After Change:",A)

Before change: ['hard rock', 10, 10.2]
After Change: [10, 10.2]

We can convert a string to a list using split. For example, the method split translater every group of characters separated by a space into in a list:

In [16]:
# Split the string, default is by space
"Hard rock".split()

['Hard', 'rock']

We can use the split function to separate on a specific character which we call a delimiter. We pass the character we would likt to split on into the argument, which in this case is a comma. The result is a listm and each element corresponds to a set of characters that have been separated by a comma:

In [17]:
# Split the string by comma
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

### Copy and Clone List

When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [18]:
# Copy (cpy by reference) the List A
A=["hard rock",10,10.2]
B=A
print("A;",A)
print("B:",B)

A; ['hard rock', 10, 10.2]
B: ['hard rock', 10, 10.2]

Initially, the value of the first element in <b>B</b> is set as "hard rock". if we change the first element in <b>A</b> to "banana", we get unexpected side effect. As <b>A</b> and <b>B</b> are referencing the same list, if e change list <b>A</b>, then the list <b>B</b> also changes. If we check the first element of <b>B</b> we get "banana" isntead of "hard rock".

In [19]:
# Examine the copy by reference
print("B[0]:", B[0])
A[0]="banana"
print("B[0]:",B[0])

B[0]: hard rock
B[0]: banana

We can clone list A by using the following syntax:

In [20]:
# Clone (clone by value) the list A
B= A[:]
B

['banana', 10, 10.2]

Now if we change A, B will not change

In [21]:
print ("B[0]:",B[0])
A[0]="hard rock"
print("B[0]:",B[0])

B[0]: banana
B[0]: banana

### Quiz on List

Creat a list a_list, with the following elements 1, hello, [1,2,3], and True

In [22]:
a_list= [1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of the a_list:

In [23]:
a_list[1]

'hello'

Retrive the elements stored at index 1, 2 and 3 of a_list

In [24]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A=[1,"a"] and B =[2,1,"d"]

In [25]:
A= [1,"a"]
B=[2,1,"d"]
A+B

[1, 'a', 2, 1, 'd']

#### Scenario: Shopping list

### Task-1 Create an empty list

At first wee need to create a empty list of storing the items to buy in Shopping list.

In [26]:
Shopping_list=[]

### Task-2 Now store the humber of items to the shopping_list

* Watch
* Laptop
* Shoes
* Pen
* Clothes

In [27]:
Shopping_list=["Watch","Laptop","Shoes","Pen","Clothes"]
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

### Task-3 Add a new item to the shopping_list

Seems like I miessed one item "Football" to add in the shopping lits.

In [28]:
Shopping_list.extend(["Football"])
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

### Task-4 Print Fisrt item from the shopping_list

Let's check the fisrt item that wee nedd to buy:

In [29]:
Shopping_list[0]

'Watch'

### Task 5- Print Last From the shopping_list

Let's chack the last item we need to buy:

In [30]:
Shopping_list[-1]

'Football'

### Task-6 Print the entire Shopping list

In [31]:
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

### Task-7 Print the item that are important to buy from the Shopping List

Print "Laptop" and "shoes"

In [32]:
print(Shopping_list[1:3])

['Laptop', 'Shoes']

### Task-8 Change the item from the shopping_list

Instead of "Pen" I want to buy "Notebook" let's chage the item stored int the list

In [33]:
Shopping_list[3]="Notebook"
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

### Task-9 Delet the item from the shopping_list that is not required

Let's delete items that are unimportant, such as; I donÂ´t want to bu clothes, let's delet it.

In [34]:
del(Shopping_list[4])
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

### Task-10 Print the Shopping list

In [35]:
Shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

###