### Sets in Python

A set is a unqique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items:

In [1]:
# Create a set

set1={"pop","rock","soul","hard rock","rock","R&B","rock","disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can also create a set from a list as folllows:

In [2]:
# Convert a list to set

album_list =["Michael Jacson","Thriller",1982,"00:42:19","Pop, Rock, R&B",46.0,65,"30-nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-nov-82',
 46.0,
 65,
 'Michael Jacson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of genres:

In [3]:
# Convert list to set

music_genres = set(["pop","pop","rock","folk rock", "hard rock","soul","progressive rock","soft rock","R&B","disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Set Operations

Let us go over set operations, as theses can be used to change the set. Consider the set <b>A</b>

In [4]:
# Sample set

A = set(["Thriller","Back in Black","AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can add an element to a set using the add() method:

In [5]:
# Add eleent to set

A.add("NYSNC")
A

{'AC/DC', 'Back in Black', 'NYSNC', 'Thriller'}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [6]:
# Try to add duplicate element to the set

A.add("NYSNC")
A

{'AC/DC', 'Back in Black', 'NYSNC', 'Thriller'}

We can remove an item from a set using the remove method:

In [7]:
A.remove("NYSNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can verify if an element is in the set using the in command:

In [8]:
# Verify if the element is in the set 

"AC/DC" in A

True

### Set Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersaction, and union:

Consider the following two sets:

In [11]:
# Sample Sets

album_set1= set(["Thriller","AC/DC","Back in Black"])
album_set2= set(["AC/DC","Back in Black","The Dark Side of the Moon"])

In [12]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

You can find the intersect of two sets as follow using &:

In [16]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in album_set1 using the difference method:

In [14]:
# Find the difference in set 1 but not set 2

album_set1.difference(album_set2)

{'Thriller'}

The elements in album_set2 but not in album_set1 is given by:

In [15]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

You can also find the intersaction of album:list1 and album_list2, using the intersection method;

In [17]:
#Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

The union corresponds to all the elements in both sets. The union is given by.

In [18]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [20]:
# Check if superst
set(album_set1).issuperset(album_set2)

False

In [21]:
# Check if subset
set(album_set2).issubset(album_set1)

False

Here is an example where issubset() and issuperset() return true:

In [26]:
# Check if subset

set({"Back in Black","AC/DC"}).issubset(album_set1)

True

In [27]:
# Check if superst

album_set1.issuperset({"Back in Black","AC/DC"})

True

### Quiz on Sets

Convert the list ["rap","house","electronic muscic","rap"] to a set

In [30]:
set(["rap","house","electronic muscic","rap"])

{'electronic muscic', 'house', 'rap'}

Consider the list A=[1,2,2,1] and set B=set([1,2,2,1]), does sum(A) == sum(B)?

In [31]:
A=[1,2,2,1]
B=set([1,2,2,1])
sum(A) == sum(B)

False

Create a new set album_set3 that is the union of album_set1 anf album_set2

In [35]:
album_set3= album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if album_set1 is a subset of album_set3:

In [37]:
album_set1.issubset(album_set3)

True