### Tuples

In Python, there are different data types: String, Integer, and Float. These data tupes can all be contained in a tuples as follows:

Now, lets create your first tuple with string, integer and float

In [1]:
# Create yout firt tuple

tuple1= ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

The type of variable is a <b>tuple.</b>

In [2]:
# Print the type of the tuple you created
type(tuple1)

tuple

### Indexing 

Each element of a tuple can be accessed via an indez. The following table repreents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracjket woth the index number:

We can print put each value in the tuple:

In [3]:
# Print the variable on each indez

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

We can print out the type of each value in the tuple:

In [4]:
# Print hte type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing. We use the same table above with corresponding negative values:

We can obtain the last element as follows:

In [8]:
# Use negative index to ger the value of the last element

tuple1[-1]

1.2

We can display the next two elements as follows:

In [9]:
# Use negative index to get the value of the second last element
tuple1[-2]

10

In [10]:
# Use negative index to get the value o the third last element
tuple1[-3]

'disco'

### Concatenate Tuples

We can concatenate or combine tuples by using the + sign:

In [11]:
# Concatenate two tuples

tuple2= tuple1+("hard rock",10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing 

We can slice tuples, obtaining new tuples with corresponding elements:

In [12]:
# Slice from indez 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

We can obtain the last two elements of the tuple:

In [13]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

We can obtain the length of a tuple using length command:ยก

In [14]:
# Get the length of the tuple
len(tuple2)

5

### Sorting

Consider the following tuple

In [18]:
# A sample tuple

Ratings =(0,9,6,5,10,8,9,6,2)

We can sort the values in a tuple and save it to a new tuple:

In [19]:
# Sort the tuple

RatingsSorted= sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

### Nested Tuple

A tuple can contain another tuple as well as otger more complex data types. This process is called "nesting". Consider the following tuple with several elements:

In [20]:
# Create a nest tuple

NestedT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

Each element int the tuple, including other tuples, can be obtained via an index as shown:

In [21]:
# print element on each index
print("Element 0 of tuple: ",NestedT[0])
print("Element 1 of tuple: ",NestedT[1])  
print("Element 2 of tuple: ",NestedT[2])
print("Element 3 of tuple: ",NestedT[3])
print("Element 4 of tuple: ",NestedT[4])

Element 0 of tuple:  1
Element 1 of tuple:  2
Element 2 of tuple:  ('pop', 'rock')
Element 3 of tuple:  (3, 4)
Element 4 of tuple:  ('disco', (1, 2))

We can use the second index to access other tuples as demonstrated:

In [22]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple:",NestedT[2][0])
print("Element 2, 1 of Tuple:",NestedT[2][1])
print("Element 3, 0 of Tuple:",NestedT[2][0])
print("Element 3, 1 of Tuple:",NestedT[2][1])
print("Element 4, 0 of Tuple:",NestedT[2][0])
print("Element 4, 1 of Tuple:",NestedT[2][1])

Element 2, 0 of Tuple: pop
Element 2, 1 of Tuple: rock
Element 3, 0 of Tuple: pop
Element 3, 1 of Tuple: rock
Element 4, 0 of Tuple: pop
Element 4, 1 of Tuple: rock

We can access strings int the second nested tuples using a third index:

In [23]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

Similary, we can access elements nested deeper in the tree with a third index:

In [26]:
# Print the first element int the second nested tuples
NestedT[4][1][0]

1

### Quiz on Tuples

Consider the following tuple

In [27]:
# Sample tuple

genres_tuple = ("pop","rock","soul","hard rock","soft rock")
genres_tuple

('pop', 'rock', 'soul', 'hard rock', 'soft rock')

Find the length of the tuple, genres_tuple:

In [28]:
len(genres_tuple)

5

Access the element, woth respect to index 3:

In [30]:
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [38]:
genres_tuple[2:6]

('soul', 'hard rock', 'soft rock')

Find the firts two elements of the tuple genres_tuple

In [36]:
genres_tuple[0:2]

('pop', 'rock')

Find the index of "s" ind "disco":

In [37]:
"disco".find("s")

2

Generate a sorted List from the Tuple C_tuple=(-5,1,-3)

In [40]:
C_Tuple=(-5,1,-3)
C_list=sorted(C_Tuple)
C_list

[-5, -3, 1]