### Condition Statements 

#### Comparision Operatiors 

Comparision operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can uste these operators:

* equal: ==
* not equal: !=
* grater than: >
* less than: < 
* greater than or equal to: >=
* less than or equal to: <=

Let's assing <code>a</code> a value of 5. Us the equality operator denoted with two equal <b>==</b> signs to determine if two values are equal. The case below compares the variable <code>a</code> with 6.

In [6]:
# Condition Equal
a=5
a==6

False

The result is <b>False</b>, as 5 does not equal to 6.

Consider the following equality comparison operator: <code>i>5</code>. If the value of the left operand, in this case the variable <b>i</b>, is greater than the value of the right operand, in this case 5, then the statement is <b>True</b>. Otherwise, the statemnt is <b>False</b>. if <b>i</b> is equal to 6, because 6 is larger than 5, the output is <b>True</b>.

In [15]:
# Greater than Sign
i=6
i>5

True

Set <code>i=2</code>. The statemnt is False as 2 is not grater than 5:

In [79]:
# Greater than Sign
i=2
i>5

False

The inequality test uses an exclamatiuon mark preciding the equal sign, if two operands are not equal then the condition becomes <b>True</b>. For example, the following condition will produce <b>True</b> as long as the value of <code>i</code> is not equal to 6:

In [29]:
# Inequality Sing
i=2
i!=6

True

When <code>i</code> equal 6 the inequality expression produces <b>False</b>.

In [31]:
# Inequality Sing
i=6
i!=6

False

We can apply the same methods on strings. For example, we can use an equality operator on two different strings. As the strings are not equal, we get a <b>False</b>.

In [35]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jacskon"

False

The inequality operation is also used to compare lettrers/words/symbols according yo the ASCII value of letters.

We set the value for <b>A</b> is 65, and the value for <b>B</b> is 66, therefore:

In [43]:
# Compare characters
A = 65
B = 66

"B">"A"

True

### Branching

Branching allows us to run different statements for different inputs. It is helfpuf to think of an <b>if statement</b> as a locked room, if the statement is <b>True</b> we can enter the room and your program will run predifined tasks, but if the statement is <b>False</b> the program will ignore the task.

We can use the condition statements learned before as the conditions that need to be checked in the <b>if statement</b>. The syntax is as simple as <code>if condition statement:</code>, which contains a word <code>if</code>, any condition statement, and a colon at the end. the word of code after the colon and with an indent will only be executed when the <b>if statement</b> is <b>True</b>. The tasks will end when the line of code does not contain the indent.

In the case below, the code <code>print("you can enter")</code> is executed only if the variable <code>age</code> is greater than 18 is a True case because the line of code has the indent. However, the execution of <code>print("move on")</code> will not be influenced by the statement.

In [56]:
# If statement example

age = 19
if age > 18:
    print("you can enter")
print("move one")

you can enter
move one

The <code>else</code> statement runs a block of code if none of the conditions are <b>True</b> befoore this <code>else</code> statement. The syntax of the <code>else</code> statement is similar as the syntax of the <code>if</code> statement, as <code>else :</code>. Notice that, there is no condition statement of <code>else</code>.

In [63]:
# Else statement example

age = 18 

if age > 18:
    print ("you can enter")
else:
    print ("go see Meat Loaf")
print("move on")

go see Meat Loaf
move on

The <code>elif</code> statement, short for else if, allows us to check additional conditions if the condition statements before it are <b>False</b>. If the condition for the <code>elif</code> statement is <b>True</b>, the alternate expressions will be run. The syuntax of the <code>elif</code> statement is similar in that we merely change the <code>if</code> in the <code>if</code> statement to <code>elif</code>.

In [77]:
#Elif statement example

age = 18

if age > 18:
    print("you can enter")
elif age == 18:
    print("go to see Pink Floyd")
else: 
    print ("go see Meat Loaf")
print("move one")

go to see Pink Floyd
move one

In [83]:
# Condition Statemetn example

album_year= 1983

if album_year > 1980:
     print("Album yeas is greater than 1980")
else: 
    print("Album year is less than 1980")

Album yeas is greater than 1980

### Logical operators 

Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both <b>True</b>. Logical operators allow you to combine or modify conditions.

* and
* or 
* not 

These operators are summarized for two variables.

The <code>and</code> statement is only <b>True</b> when both conditions are true. The <code>or</code> statement is <b>True</b> if one conditions, or both are <b>True</b>. the <code>not</code> statement outputs the opposite truth value.

In [93]:
# Condition statement example and

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
else:
    print("Album year was not in the 80's")

Album year was in between 1980 and 1989

In [107]:
# Condition statement exanmple or 

album_year = 1990

if(album_year < 1990) or (album_year > 1989): 
    print("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's")

Album was not made in the 1980's

In [115]:
# Conditions statement example not

album_year = 1982 

if not (album_year == 1984):
    print("Album year is not 1984")
else:
    print("Album year is 1984")

Album year is not 1984

### Quiz on Conditions

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>Back in Black</b> that had a rating of 8.5. It the statement is true print "This album is Amazing!".

In [120]:
rating = 8.5
if rating > 8:
    print ("This Album is amazing!")
else: 
    print("It's ok")

This Album is amazing!

Write an if statement to determine if an album came out before 1980 or in the years: 1991 o 1993. If the condition is tru print out the year the album came out.

In [132]:
album_year= 1979

if album_year < 1980 or album_year == 1991 or album_year== 1993:
    print("This album came out in year",album_year)

This album came out in year 1979