### Loading data with Pandas

#### Introduction of <code>Pandas</code>

In [21]:
# Dependency needed to install file

# If running the notebok on your machine, else leave it comentend
!pip install xlrd
!pip install openpyxl

import xlrd 
import openpyxl

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
   ---------------------------------------- 96.5/96.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Requirement already satisfied: openpyxl in c:\users\pauri\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\pauri\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [25]:
# Importe required library

import pandas as pd

After the import command, we now have access to a large umber of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go though the process to go a comma separeted values (<b>.csv</b> sfile to a dataframe. This variable <code>csv_path</code> stores the path pf the <b>.ccsv</b> that is used as an argument o the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas daaframe.

In [42]:
# Read data from CSV file

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

df = pd.read_csv(filename)

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame ase before:

In [52]:
xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column <b>Length</b> and assing it a new dataframe <b>x</b>

In [48]:
# Access to the column Length 

x =df[["Length"]]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

#### Viewing Data and Accessing Data

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [59]:
# Get the column as a series 

x = df["Length"]
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

You can also get a column as a dataframe. For example, we can assing the column <b>Artist</b>:

In [62]:
# Get the column as a dataframe
x =df[["Artist"]]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiplie columns; we just put the dataframe name, int this case <code>df</code>, and the name of the multiplie column headers encloed in double brackets. The resul is a new dataframe comprised of the specified columns:

In [65]:
# Access to multiplie columns

y=df[["Artist","Length","Genre"]]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

One way to access unique elements is the <code>iloc</code> methodm you can access the 1st row and the 1st column as follows:

In [68]:
# Access the valie on the first row and the first column

df.iloc[0,0]

'Michael Jackson'

You can access the 1st row and the 3rd column as follows:

In [73]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [75]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

You can access the column using the name as well, the following are the same as above:

In [78]:
# Access the column using the name 

df.loc[1,"Artist"]

'AC/DC'

In [82]:
# Access the column using the name 
df.loc[1,"Released"]

1980

You can perform slicing using both the index and the name of the column:

In [87]:
# Slicing the dataframe
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [89]:
# Slicing the dataframe using na,e

df.loc[0:2,"Artist":"Released"]

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

### Quiz on DataFrame

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [94]:
q = df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assing the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [101]:
q = df[["Released","Artist"]]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [107]:
df.iloc[1,2]

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assing it to a <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column <code>"Artist"</code>. Then select the rows <code>a</code> through <code>d</code> for the column <code>"Artist"</code>.

In [110]:
new_index = ["a","b","c","d","e","f","g","h"]

In [116]:
df_new=df
df_new.index=new_index
df_new.loc["a","Artist"]
df_new.loc["a":"d","Artist"]

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object